# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Dataset (too large for GitHub)
dataset/

# Model files (too large for GitHub)
*.keras
*.h5

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
